.book-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  padding: 16px;
  
    /* @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    } */
  }
  

.book-card {
  /* width: 100%; */
  max-width: 257px;
  max-height: 187px;
  /* margin: 10px; */
  /* padding: 20px; */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  /* @media (min-width: 768px) {
    width: calc(50% - 20px);
  } */
}

.book-image {
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover;
  /* border-radius: 4px; */
  margin-bottom: 10px;
}

.grid-container {
    /* display: grid; */
    display: grid;
  grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    /* padding: 20px; */
}

.grid-item {
  background-color: #f0f0f0;
  /* padding: 20px; */
  text-align: center;
}